* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: cyan;
}

p {
    color: darkorchid;
}

h1 {
    color:midnightblue
}

li {
    color:black
}

.AB {
    background-color: black;
    color: blanchedalmond;
    border-style: double;
    border-radius: 20px;
    border: 20px;
    border-color: white;
    width: 200px;
}